tbody tr:first-child {
  background: var(--bg-header);
  font-weight: 500;
  font-size: 18px;
}

td {
  padding: 0.5rem 2rem;
}

tbody tr td + td,
tbody td + td {
  text-align: center;
  vertical-align: middle;
}

.container td {
  width: 150px;
}

.container td:first-child {
  width: 350px;
}
