.container-tabela {
    width: #{"min(100vw, 1200px)"};
    margin: auto;
    background-color: blueviolet;
}

.data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: var(--color-text);

    tr {
        background-color: #fff;
    }

    .dropdown {
        background-color: aqua;
    }


    table thead th {
        background: var(--bg-panel);
      
        font-weight: normal;
        padding: 1rem 2rem;
      
        text-align: left;
      }
      
      table tbody td {
        background: var(--bg-panel);
        padding: 1rem 2rem;
      }
}