:root {
  --bg-table: #ffffff;
  --bg-header: #eff1f1;
  --bg-header-secondary: #F8F8F8;
  --color-text: #29292e;

  //transition: all 0.3s linear;
}

.dark-mode {
  --bg-panel: #434343;
  --color-text: #b5b5b5;

  //transition: all 0.3s linear;
}

.container-table {
  width: #{"min(90vw, 1200px)"};
  padding: 2rem;
  margin: auto;
  background-color: var(--bg-table);

  h1 {
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
  }
}

.data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: var(--color-text);

  thead tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin: 0px -10px;
  }

  th {
    font-weight: 500;
    font-size: 18px;

    width: 150px;
    padding: 0px 10px;
  }

  thead tr th:first-child {
    width: 352px;
  }

  .item-principal tr {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  
    background-color: var(--bg-header-secondary);
  }

  .dropdown tr {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    background-color: var(--bg-table);
  }
}
