:root {
  --bg-header: #eff1f1;
  --color-text: #29292e;

  //transition: all 0.3s linear;
}

.dark-mode {
  --bg-panel: #434343;
  --color-text: #b5b5b5;

  //transition: all 0.3s linear;
}

.container-tabela {
  width: #{"min(90vw, 1200px)"};
  padding: 2rem;
  margin: auto;
  background-color: #ffffff;

  h1 {
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
  }
}

.data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: var(--color-text);

  th {
    font-weight: 500;
    font-size: 18px;
    padding: 1rem 2rem;

    width: 50px;
  }

  tbody tr:first-child {
    background: var(--bg-header);

    font-weight: 500;
    font-size: 18px;
  }

  .item-principal {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    background-color: #f8f8f8;
  }

  .dropdown {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }

  td {
    padding: 0.5rem 2rem;
  }

  tbody tr td + td {
    text-align: center;
  }
}